.formAgent {
    text-align: center;
    height: 100%; 
    margin:0;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 20%;
    padding: 10px;
    text-align: center;
    margin: 4px 0 12px 0;
    background: #f1f1f1;
    border: 1px solid  #f0f0f0d0;;
    box-sizing: border-box;
    border-radius: 9px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

.buttonAddAgent {
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    display: inline-block;
    width: 7.5rem;
    height: 3.5rem;
    padding: 13px 30px;
    margin-top: 40px;
    background: #FDC605;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    cursor: pointer;
    border: 0;
  }

  .buttonAddAgent:hover{
      opacity: 0.8;
  }