.info {
    display:inline-flex;
    z-index: 100;
    flex-direction: row;
    align-items: center;
    padding: 0;
    overflow: hidden;
    background-color:  rgba(253, 94, 5, 0.81);
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto;
    width: 100%;
    justify-content: space-between;
  }
  
  .infoData{
    color: #f2f2f2;
    text-align: center;
    padding: 8px;
    list-style: none;
    font-size: 1rem;
  }
  