.informationTittles {
  list-style-type: none;
  padding: 0;
  z-index: 100;
  overflow: hidden;
  background-color: #f71212;
  position: fixed; /* Make it stick, even on scroll */
}

.buttonNew {
  z-index: 200;
  overflow: hidden;
  position: fixed; /* Make it stick, even on scroll */
  background-color: rgba(253, 94, 5, 0.36);
  padding: 4px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  margin-left: 50px;
  border-color: rgba(250, 128, 114, 0.336);
  margin-top: -1.6rem;
}

.buttonNew:hover {
  opacity: 0.7;
  background-color: rgba(242, 159, 4, 1);
}

.infoTittle {
  display: inline-flex;
  z-index: 100;
  flex-direction: row;
  align-items: center;
  padding: 0;
  background-color: rgba(253, 94, 5, 0.81);
  position: fixed; /* Make it stick, even on scroll */
  overflow: hidden;
  width: 100%;
  justify-content: space-evenly;
  margin-top: -1rem;
}
.infoData {
  color: #f2f2f2;
  text-align: center;
  padding: 8px;
  list-style: none;
  font-size: 1rem;
}

.info {
  display: inline-flex;
  width: 100%;
  padding: 4px;
  align-items: center;
  background-color: rgba(253, 94, 5, 0.36);
  width: 100%;
  opacity: 0.4;
  justify-content: space-evenly;
}
.infoData2 {
  color: #3b3b3b;
  text-align: center;
  padding: 8px;
  list-style: none;
  font-size: 1rem;
}
.infoData3 {
  color: #f2f2f2;
  padding: 8px;
  list-style: none;
  font-size: 1rem;
  background-color: rgba(253, 96, 5, 0.397);
  padding: 7px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  border-color: rgba(250, 128, 114, 0.336);
}



/*::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent 
}*/
