.App {
    text-align: center;
    height: 100%; 
    margin:0;
  }
  

  .bg {
    background-image: url("../Utils/bg.png");
    height: 100%; 
    width: 100%;
    float: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }

  .logo  {
    width: 400px;
    height: 300px;   
    mix-blend-mode: multiply;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  
label{
    font-size: 25px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 20%;
    padding: 25px;
    text-align: center;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .buttonAccess {
    font-size: 20px;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    display: inline-block;
    width: 7rem;
    height: 4rem;
    padding: 13px 30px;
    margin-top: 53px;
    background: #FF9900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    cursor: pointer;
    border: 0;
  }

  .buttonAccess:hover{
      opacity: 0.8;
  }
  
