.App {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  justify-content: space-between;
}

.App-header {
  min-height: 18vh;
  overflow: hidden;
  z-index: 100;
  position: relative;
}

.logotipo {
  background-image: url('../Utils/minerva_Logo.png');
  pointer-events: none;
  background: cover;
  border: 0;
  background-size: 11rem 7.5rem;
  width: 11rem;
  height: 7.5rem;
  float: left;
  margin-left: 3rem;
  margin-top: 1rem;
  overflow: hidden;
  z-index: 5px;
  border-color: white;
}

.navRouter {
  display: fixed;
  z-index: 100;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1rem;
  color: white;
  width: 100%;
  overflow: hidden;
  margin-top: 0;
  height: 200px;
}

.navRouter {
  list-style-type: none;
  padding: 0;
  z-index: 100;
  overflow: hidden;
  background-color: #ffffff;
  top: 0;
  position: fixed; /* Make it stick, even on scroll */
}

.appNav {
  float: right;
}

.appNav a {
  top: 0;
  z-index: 100;
  display: block;
  color: #ffffff;
  background: #ff9900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  margin: 0.5rem;
  margin-top: 3.5rem;
  margin-right: 3rem;
}

/* Change the link color to #111 (black) on hover */
.appNav :hover {
  background-color: rgba(242, 159, 4, 1);
}

.appNav a.active {
  background-color: rgba(165, 50, 8, 1);
}
